@font-face {
    font-family: 'red_ring';
    src: url("fonts/redring-regular-webfont.eot");
    src: url("fonts/redring-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/redring-regular-webfont.woff") format("woff"), url("fonts/redring-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'red_ring';
    src: url("fonts/redring-medium-webfont.eot");
    src: url("fonts/redring-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/redring-medium-webfont.woff") format("woff"), url("fonts/redring-medium-webfont.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body, html {
    font-family: "red_ring", sans-serif;
    height: 100%;
}
body {
    position: relative;
}
.b-container {
    position: relative;
    min-height:100%;
    padding-bottom: 250px;
}
.b-header {
    height: 160px;
}
.b-header-line {
    height: 20px;
    background-color: #acb0b2;
    transition: all 200ms ease-out;
}
.b-header {
    width: 100%;
}
.b-footer-container {
    margin-top:-240px;
    height: 240px;
    bottom: 0px;
}
.b-footer {
    min-height: 240px;
    background-color: #acb0b2;
    transition: all 200ms ease-out;
}
.b-footer-content {
    padding-top: 30px;
    padding-left: 30px;
    color: #fff;
    font-size: 12px;
}
.b-footer-link {
    text-decoration: underline;
    color: #fff;
}
.b-footer-link:hover {
    color: #fff;
}
.b-header-logo {
    float: left;
    width: 232px;
    position: relative;
}
.b-header-logo__bracket {
    font-size: 86px;
    display: block;
    width: 26px;
}
.b-header-logo__bracket-left {
    float: left;
}
.b-header-logo__bracket-right {
    float: right;
}
.b-header-logo__text {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 0 28px;
    padding-top: 36px;
    color: #000;
}
.b-header-logo__text:hover {
    color: #000;
    text-decoration: none;
}
.b-header-info {
    display: block;
    margin: 40px 0 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
.b-form-container {
    margin: 0 auto;
    width: 500px;
}
.b-share-block {
    padding-top: 20px;
    padding-bottom: 30px;
}
.b-share-block__message {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
/*  */
.b-links {
    list-style: none;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
}
.b-links__item {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}
.b-links__item-link {
     color: #222;
     padding: 0 3px;
     transition: all 100ms ease-out;
     position: absolute;
     cursor: pointer;
}
.b-links__item-link-active {
    opacity: 0.08;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.b-links__item .b-links__item-link-active:hover {
    color: #222;
}
.b-links__item-link:hover {
    text-decoration: none;
}
.b-links__item-link:active, .b-links__item-link:focus {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    outline-offset: 0;
}
.b-links__item-description {
    font-size: 14px;
    display: none;
}
.b-links__item-text {
    text-transform: none;
}
.b-button-ready {
    color: #fff;
    float: right;
}
.b-button-ready:hover {
    color: #fff;
}
.b-content {
    min-height: 400px;
}
.b-prealoader {
    height: 200px;
    text-align: center;
}
.b-share-block__buttons {
    padding-top: 10px; 
    text-align: center;
}
.pluso {
    display: block !important;
    text-align: center !important;
}

/* colors */
.b-block-blue {
    background-color: #30abeb;
}
.b-block-green {
    background-color: #0b9635;
}
.b-block-orange {
    background-color: #fa883c;
}
.b-block-red {
    background-color: #fa3c3c;
}
/* buttons  */
.b-button-blue {
    background-color: #30abeb;
    border-color: #27a8e8;
}
.b-button-blue:hover {
    background-color: #26a7e7;
}
.b-button-green {
    background-color: #0b9635;
    border-color: #089231;
}
.b-button-green:hover {
    background-color: #079130;
}
.b-button-orange {
    background-color: #fa883c;
    border-color: #f88539;
}
.b-button-orange:hover {
    background-color: #f78438;
}
.b-button-red {
    background-color: #fa3c3c;
    border-color: #f73939;
}
.b-button-red:hover {
    background-color: #f63838;
}
.b-link-blue:hover {
    color: #30abeb;
}
.b-link-green:hover {
    color: #0b9635;
}
.b-link-orange:hover {
    color: #fa883c;
}
.b-link-red:hover {
    color: #fa3c3c;
}
@media (min-width: 767px) {
    .b-links__item {
        min-height: 130px;
    }
    .b-links__item-link {
        min-height: 130px;
    }
    .b-links__item-description {
        min-height: 98px;
        padding-top: 32px;
    }
}

/*  */
@media (max-width: 979px) {
    .b-links {
        font-size: 48px;
    }
    .b-links__item {
        min-height: 52px;
    }
    .b-links__item-description {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .b-header {
        height: auto;
    }
    .b-header-info {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 12px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .b-header-logo {
        float: none;
    }
    .b-form-container {
        width: 100%;
    }
    .b-button-ready {
        margin-top: 5px;
        font-size: 12px;
        display: block;
        float: none;
    }
    .b-links__item-text {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 480px) {
    .b-links {
        font-size: 36px;
    }
}
